.carousel {
    
    height:100vh;
    /*width:100vw;*/
    object-fit: cover;
    }
    
    .carousel-inner img {
    
    height:100vh;
    width: 100vw;
    object-fit: cover;
    
    }
#headerSection .row {
    height:5vh;
}

.carousel-inner {
    border-bottom: 3px #030303 solid;;
}
body {
    background-image: url("../Pictures/Sehrim/media.jpg");
}

.nav-link:hover{
    color: whitesmoke!important;

}